@import 'libs/bootstrap-reboot.min'
@import 'libs/bootstrap-grid.min.css'
@import 'libs/slick.scss'
@import 'base/fonts'
@import 'base/variables'


input, textarea,button, button:active, button:focus 
    outline: none
    border: none



body
    font-family: "Museo Sans"

@import 'blocks/title'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/buttons'
@import 'blocks/advantages'
@import 'blocks/consultation'
@import 'blocks/slider'
@import 'blocks/catalog'
@import 'blocks/feedback'
@import 'blocks/footer'