@import 'libs/bootstrap-reboot.min'
@import 'libs/bootstrap-grid.min.css'
@import 'libs/slick.scss'
@import 'base/fonts'



input, textarea,button, button:active, button:focus 
    outline: none
    border: none

body
    font-family: "Museo Sans"


@import 'base/variables'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/buttons'
